::-webkit-scrollbar{
  width:12px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(21,88,159);
  border:3px solid rgb(230,230,230);
  border-radius: 6px;
}
::-webkit-scrollbar-track{
  background-color: rgb(230,230,230);
}
*{
  box-sizing: border-box;
}
*::selection{
  background: rgba(133,191,90,.375);
}
a{
  text-decoration: none;
}
body{
  width:100%;
  height:100%;
  border: 0;
  padding:0;
  margin:0;
  font-family: "Libre Franklin";
  font-size: 1em;
  line-height: 1.5;
  color: rgb(90,90,90);
  background-color: rgb(255,255,255);
}
html{
  width:100%;
  height:100%;
  scroll-behavior: smooth;
}
hr{
  padding: 0;
  margin: 0;
  border: 0;
  height: 80px;
  background-color: transparent;
}
h1{
  color:rgb(86,145,70);
  text-transform: capitalize;
  font-size: 1.8em;
  font-weight: 600;
  margin:0;
  padding:2vw 0;
}
h2{
  color:rgb(133,191,90);
  text-transform:capitalize;
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 70px;
}
h3{
  color:rgb(21,88,159);
  text-transform:capitalize;
  font-size: 1.2em;
  font-weight: 600;
}
li{
  list-style-type: square;
}
main{
  width:100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden !important;
}
.banner{
  width:100%;
  padding: 0 30px;
  text-align: center;
}
.bgsnow{
  background-color: rgb(255,255,255);
}
.bigicon{
  font-size: 2.5em !important;
  color:rgb(255,255,255);
}
.bluebutton{
  color: rgb(21,88,159);
  display:inline-block;
  padding: 14px 42px;
  border: 2px solid rgb(21,88,159);
  background-color: transparent;
  margin: 30px 10px;
}
.bluebutton:hover{
  color:rgb(255,255,255);
  background-color: rgb(21,88,159);
}
.bodytext{
  width:80%;
  max-width: 1000px;
  margin: 0 auto;
  padding:2vw;
}
.brandingbox{
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding:30px;
}
.brandingcolor{
  font-size: .75em;
  color:rgb(255,255,255);
  width:100px;
  height:100px;
  border-radius: 100%;
  margin:10px;
  padding:5px;
  text-align: center;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.business{
  height: 40px;
  margin: 10px;
  filter: grayscale(1);
}
.business:hover{
  filter: grayscale(0);
}
.businessbox{
  text-align: center;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.caption{
  font-size: .75em;
  color: rgba(255,255,255,.6);
  display:block;
  position:absolute;
  padding: 0 10px;
  bottom: 5%;
  left:0%;
  width:100%;
}
.caption:hover{
  color: rgba(255,255,255,.75);
}
.carouselslide{
  background-color: rgb(255,255,255);
  height: 500px;
  margin: 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  display:none;
}
.carouselslideimage{
  position: relative;
  width:100%;
  height:50%;
}
.carouselslidetext{
  width:100%;
  height:50%;
  padding:30px;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.carouselslideactive{
  display:flex;
  -webkit-animation: fadeIn 2s ease 0s 1 normal both running;
  -moz-animation: fadeIn 2s ease 0s 1 normal both running;
  -o-animation: fadeIn 2s ease 0s 1 normal both running;
  animation: fadeIn 2s ease 0s 1 normal both running;
}
.client{
  font-weight: 600;
  border-top: 2px solid rgb(90,90,90);
  padding: 10px 5px 0 5px;
  margin:10px auto 0 auto;
}
.escaper{
  z-index: 2;
  width:100%;
  height:100%;
  position: fixed;
  background-color: black;
  visibility: hidden;
  opacity: 0;
}
.escaperopen{
  visibility: visible;
  opacity:.75;
}
.footer{
  padding: 0 30px;
  text-align: center;
}
.greenbutton{
  color: rgb(255,255,255);
  display:inline-block;
  padding: 14px 42px;
  background-color: rgb(133,191,90);
  margin: 30px 10px;
}
.greenbutton:hover{
  background-color:rgb(86,145,70);
}
.hamburger{
  position:fixed;
  width:24px;
  height:24px;
  fill:rgb(133,191,90);
  z-index: 4;
  top:19px;
  right:19px;
  overflow: hidden;
  display:block;
}
.hamburgeropen{
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
.innermiddle{
  padding:75px 30px;
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  top:150px;
}
.inneroffset{
  padding:75px 30px;
  position:relative;
  width:100%;
  left: 10%;
  top:200px;
}
.inneronright{
  width:100%;
  max-width:500px;
  color: rgb(255,255,255);
  display:flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.inneronrightleft{
  width: 80px;
  padding: 8px 15px;
  text-align: right;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.inneronrightright{
  width: calc(100% - 80px);
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 8px 15px;
  border-left: 3px solid rgb(255,255,255);
}
.innerwiden{
  padding:75px 30px;
  width:70%;
  max-width: 500px;
}
.link{
  text-decoration: none;
  color: rgb(21,88,159);
  font-weight: 500;
  display: inline-block;
}
.link::after{
  content: "";
  background-color: rgb(21,88,159);
  display:block;
  position: relative;
  width:100%;
  height:2px;
  margin-top: -4px;
  margin-bottom: -100px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.link:hover::after{
  -webkit-transform: initial;
  -ms-transform: initial;
  -moz-transform: initial;
  -o-transform: initial;
  transform: initial;
}
.linkbox{
  width:100%;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.linkcol{
  width:100%;
  padding: 30px 10px;
  text-align: center;
}
.logo{
  height:50px;
  width:50px;
  padding:0px;
  display:block;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
}
.logo:hover{
}
.middle{
  width: 100%;
  padding-top:100px;
  margin-bottom: 150px;
}
.navbar{
  width:100%;
  padding: 6px 10px;
  position:fixed;
  box-shadow:0px 5px 10px rgba(0,0,0,.125);
  z-index: 3;
  background-color: rgb(255,255,255);
  top:0px;
  left:0px;
}
.navclass{
  text-decoration: none;
  padding: 10px 14px;
  margin: 0;
  text-transform: lowercase;
  text-align: center;
  display:block;
  color: rgb(90,90,90);
}
.navclass:hover{
  background-color: rgba(90,90,90,.125);
}
.navgroup{
  visibility: hidden;
  height:0px;
  align-items:center;
  margin:0;
  padding:0;
  overflow-y: hidden;
}
.navgroupopen{
  visibility: visible;
  padding-top:20px;
  height:220px;
}
.navspecial{
  color:rgb(255,255,255);
  background-color: rgb(133,191,90);
}
.navspecial:hover{
  background-color: rgb(86,145,70);
}
.offset{
  width: calc(10 / 11 * 100%);
  margin-bottom: 200px;
}
.onright{
  display:flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.onrightcut{
  background-color: rgb(255,255,255);
  margin: 0 60% 120px 0;
  width:100%;
  height:80px;
}
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgb(255,255,255);
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.preloaderhidden{
  opacity: 0;
  visibility: hidden;
}
.row{
  background-color: rgb(133,191,90);
  width:100%;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.splash{
  background-color: rgb(133,191,90);
  width:100%;
  height:calc(100%);
  min-height:480px;
  padding-top: 70px;
  text-align: center;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position:relative;
}
.splashhalf{
  background-color: rgb(133,191,90);
  width:100%;
  height:75%;
  min-height:300px;
  padding-top: 70px;
  text-align: center;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.subtitle{
  color: rgb(255,255,255);
  text-transform:none;
  font-size: 1.5em;
  padding: 10px;
  width:100%;
}
.threecol{
  width:100%;
  padding: 30px 10px;
  text-align: center;
}
.title{
  color:rgb(255,255,255);
  text-transform:uppercase;
  font-size: 2.2em;
  font-weight: 600;
  padding: 10px;
  width:100%;
}
.widen{
  padding-top: 300px;
}
[data-mk-transition = "pointfive"]{
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
[data-mk-transition = "pointtwo"]{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
[data-mk-image = "cover"], [data-mk-image = "parallax"]{
  background: rgb(255,255,255);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
}
@-webkit-keyframes fadeInUp {
  from{
    opacity:0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-moz-keyframes fadeInUp {
  from{
    opacity:0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-o-keyframes fadeInUp {
  from{
    opacity:0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@keyframes fadeInUp {
  from{
    opacity:0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-webkit-keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  from{
    opacity:0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-moz-keyframes fadeInLeft {
  from{
    opacity:0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-o-keyframes fadeInLeft {
  from{
    opacity:0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@keyframes fadeInLeft {
  from{
    opacity:0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-webkit-keyframes fadeInRight {
  from{
    opacity:0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-moz-keyframes fadeInRight {
  from{
    opacity:0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-o-keyframes fadeInRight {
  from{
    opacity:0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@keyframes fadeInRight {
  from{
    opacity:0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-webkit-keyframes flipRight {
  from{
    opacity:0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-moz-keyframes flipRight {
  from{
    opacity:0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-o-keyframes flipRight {
  from{
    opacity:0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@keyframes flipRight {
  from{
    opacity:0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  to{
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
  }
}
@-webkit-keyframes cutLeft {
  from{
    margin-right: 80%;
  }
  to{
    margin-right: 60%;
  }
}
@-moz-keyframes cutLeft {
  from{
    margin-right: 80%;
  }
  to{
    margin-right: 60%;
  }
}
@-o-keyframes cutLeft {
  from{
    margin-right: 80%;
  }
  to{
    margin-right: 60%;
  }
}
@keyframes cutLeft {
  from{
    margin-right: 80%;
  }
  to{
    margin-right: 60%;
  }
}
@media only screen and (min-width: 600px) {
  body{
    font-size: 1.1em;
  }
  .business{
    height:60px;
    margin: 15px;
  }
  .escaper{
    visibility: hidden;
  }
  .hamburger{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    visibility: hidden;
  }
  .inneroffset{
    position:relative;
    width:530px;
    left:calc(110% - 530px);
    top:200px;
    transform: none;
  }
  .linkbox{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .linkcol{
    width: calc(1 / 3 * 100%);
    max-width: 400px;
  }
  .navbar{
    display:flex;
  }
  .navclass{
    display: inline;
  }
  .navgroup{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    display:flex;
    visibility: visible;
    height:50px;
    margin:0;
    padding:0;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    width:100%;
  }
  .row{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .subtitle{
    font-size: 2em;
  }
  .threecol{
    width:calc(1 / 3 * 100%);
    max-width: 400px;
  }
  .title{
    font-size: 3em;
  }
  .carouselslide{
    max-width: 1100px;
    height:40vw;
    max-height: 550px;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .carouselslideimage, .carouselslidetext{
    width:50%;
    height:100%;
  }
  [data-mk-image = "parallax"]{
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 768px) {
  body{
    font-size: 1.2em;
  }
  .middle{
    padding-top: 200px;
  }
}
@media only screen and (min-width: 992px) {
  body{
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1200px) {
  .subtitle{
    font-size: 2.5em;
  }
  .title{
    font-size: 3.5em;
  }
  .twelvehundred{
    padding: 0 calc(50% - 600px);
  }
}
@media only screen and (min-width: 1400px) {
  .fourteenhundred{
    padding: 0 calc(50% - 700px);
  }
}
